:root{
  --main-font-family: 'Roboto', sans-serif;
  --secondary-font-family-family: 'Raleway', sans-serif;
  --primary-brand: #4D5AE5;
  --primary-color-white: #ffffff;
  --primary-text-color: #434455;
  --subtle-text: #8E8F99;
  --accent-color-pressed-state: #404BBF;
  --accent-color-pressed: #E7E9FC;
  --modal-background: #FCFCFC;
  --success: #31D0AA;
  --light: #F4F4FD;
  --dark: #2E2F42;
}

.link{
  text-decoration: none;
}

.list{
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol{
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
}

li{
  list-style-type: none;
}

img{
  display: block;
}
/*================== CONTAINER ================*/
.container{
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section{
  margin-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body{
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-color-white);
}

h1{
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primary-color-white);
  max-width: 496px;
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;
}

h2{
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--dark);
}

h3{
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark);
}

p{
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--dark);
}

p .medium{
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--dark);
}

p .small{
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: var(--dark);
}

.link a{
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
}

/* ================= HEADER ================= */
.page-header{
  display: flex;
  align-items: center;
  color: var(--dark);
  border-bottom: 1px solid #e7e9fc;
}
.page-header-container a{
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-navigation-menu{
  display: flex;
  align-items: center;
  margin-right: 76px;
}
.menu-list{
  display: flex;
  align-content: center;
  gap: 40px;
}

.menu-item{
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2E2F42;
}
.menu-link{
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--dark);
  text-decoration:none;
}
.menu-link:hover,
.menu-link:focus{
  color: var(--accent-color-pressed-state);
}
/* ==== LOGO === */
.logo{
  font-family: var(--secondary-font-family-family);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  margin-right: 76px;
}
.logo-accent{
  color: var(--dark);
}

/* ==== MENU === */
.page-contact{
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.contact-list{
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 40px;
}
.force{
  margin-left: auto;
  margin-right: 40px;
}
.force:hover,
.force:focus{
  color: var(--accent-color-pressed-state);
}
/* ================= MAIN ================= */
/* ================= SECTION-1-BANNER ================= */
.image-bg{
  display: block;
  background-color: var(--dark);
  background-image: linear-gradient(rgba(47, 46, 66, 70%), rgba(47, 46, 66, 70%)), url(../images/people-office-banner.jpg);
  width: 1440px;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 188px;
}

/* ==== BUTTON === */
.modal-open-btn{
  display: block;
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--primary-color-white);
  padding: 15px 28px;
  border: none;
  border-color: var(--primary-bg-color-theme-light);
  border-radius: 4px;
  background-color: #4D5AE5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.btn:hover,
.btn:active,
.btn:focus{
  background-color: #404BBF;
}
/* ==== /BUTTON === */
/* ================= SECTION-2 ================= */
.benefits{
  padding: 120px 0;
}
.benefits-option{
  display: flex;
  align-content: center;
  gap: 24px;
}
.benefits-item{
  flex-basis: calc((100% - 72px) / 4);
}
.subtitel-benefits{
  margin-bottom: 8px;
}
.description-benefits{
  color: var(--primary-text-color);
}
/* ================= SECTION-3 ================= */
.category-product{
  padding-bottom: 120px;
}
.category-product-text{
  margin-bottom: 72px;
}
.category-product-list{
  display: flex;
  align-content: center;
  gap: 24px;
}
.category-product-item{
  flex-basis: calc((100% - 48px) / 3);
}
/* ================= SECTION-4 ================= */
.card-employee{
  background-color: #F4F4FD;
  padding-top: 120px;
  padding-bottom: 120px;
}
.card-employee-text{
  text-align: center;
  margin-bottom: 72px;
}
.card-employee-list{
  display: flex;
  align-content: center;
  gap: 24px;
}
.card-employee-item{
  flex-basis: calc((100% - 72px) / 4);
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.card-employee-desc{
  padding: 32px 16px;
}
.card-employee-name{
  text-align: center;
  margin-bottom: 8px;
}
.card-employee-descriptions{
  font-size: 16px;
  color: var(--primary-text-color);
  line-height: 1.5;
  padding: 32px 16px;
}


/* ================= FOOTER ================= */
.footer-bg{
  background-color: #2E2F42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-content{
  display: inline-block;
  flex-direction: row;
}
.logo-footer{
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  margin-bottom: 16px;
}
.logo-accent-footer{
  color: #f4f4fd;
}
.footer-descriptions{
  max-width: 264px;
  color: var(--light);
}
/* ================= PORTFOLIO ================= */

/* ================= MAIN ================= */
/* ================= SECTION-1 ================= */
.menu-filter{
  padding-top: 96px;
  padding-bottom: 120px;
}
.menu-filter-list{
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.menu-filter-btn{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  background-color: var(--light);
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
}
.menu-filter-btn:hover,
.menu-filter-btn:focus{
  color: #ffffff;
  background-color: #404BBF;
  border: 1px solid transparent;
}
/* ================= SECTION-2 ================= */
.cards-product-list{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px; 
}
.cards-product-item{
  width: calc((100% - 48px) / 3);
}
.cards-product-desc{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.cards-product-text{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}
.cards-product-descriptions{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
/* ================= PORTFOLIO ================= */